* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-self: center;
  align-items: center;
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.signUp-form {
  width: 400px;
  margin: 0 auto;
  color: white;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  padding: 15px;
  text-align: center;
}
label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}
input, button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
form > div {
  margin-bottom: 20px;
}
button {
  background-color: rgba(0,0,0,0.2);
  color: white;
}